@import 'sass/variables.scss';

.CourseAccordion {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid;
  z-index: 5;
  top: 70px;
  right: 0;
  .mobile-title {
    padding: 15px;
    .Icon {
      margin-right: 5px;
      margin-top: 5px;
    }
    .Paper {
      .Text {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
     > .Text {
        font-size: 14px;
    }
  }
  &.darkMode {
    background-color: #283045;
    .Accordion-item {
      .Accordion-subItem {
        background-color: #262931 !important;
        &:hover, &.active {
          background-color: #363f54 !important;
        }
      }
    }
  }
  &_title {
    height: 70px;
    padding: 15px;
    box-shadow: 0 2px 11px 0 rgba(173,166,166,.5);
    .Icon {
      cursor: pointer;
      font-size: 18px;
    }
  }
  &_content {
    overflow-y: auto;
    max-height: calc(100% - 140px);
    .Accordion-item {
      &.active {
        .Accordion-item-body {
          height: auto;
        }
      }
      .Accordion-item-header {
        height: 70px;
        padding: 15px;
        cursor: pointer;
        border-bottom: 1px solid;
        .Icon {
          font-size: 18px;
        }
        .large {
          font-size: 16px;
          & ~ .Text {
            font-size: 14px;
          }
        }
      }
      .Accordion-item-body {
        height: 0;
        overflow: hidden;
        .Accordion-subItem {
          cursor: pointer;
          height: 60px;
          padding: 5px 15px;
          border-bottom: 1px solid;
          .medium {
            font-size: 14px;
          }
          &:hover, &.active {
            background-color: rgba(226, 226, 226, 0.53);
          }
          .Icon {
            color: $secondary-green;
            margin-right: 5px;
            margin-top: -2px;
          }
        }
      }
    }
  }
  &.darkMode {
    .Icon {
      color: #fff;
    }
  }
}
