@import "~sass/variables";
.CourseItem {
  position: relative;
  &.isMobile {
    .page-content {
      padding: 20px !important;
      flex-direction: column;
      .image-block {
        display: none;
      }
      .what-we-learn {
        margin-top: 30px !important;
        .extraLarge {
          font-size: 22px;
        }
        .key-value {
          width: 100% !important;
        }
      }
      .course-content-block, .requirments-block, .course-content-block, .description-block {
        .extraLarge {
          font-size: 22px;
        }
      }
      .course-content-block {
        .CourseConent {
          .list-item {
            .list-item-header {
              .Text {
                font-size: 14px;
              }
              .Paper {
                max-width: 80%;
                .Text {
                  max-width: 85%;
                }
              }
            }
            .list-item-body {
              .list-sub-item {
                .Text {
                  font-size: 14px;
                }
                .Paper {
                  max-width: 80%;
                  .Text {
                    max-width: 85%;
                  }
                }
              }
            }
          }
        }
      }
      .course-mobile-header {
        padding-bottom: 15px;
        .icon-feather-chevron-left {
          margin-left: -5px;
          margin-top: -5px;
          font-size: 31px !important;
          cursor: pointer;
        }
        .Icon {
          font-size: 20px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .info-block {
        width: 100%;
        padding-bottom: 15px;
        .info-content {
          .doubleExtraLarge {
            font-size: 22px;
          }
          .extraLarge {
            font-size: 13px;
          }
          .creator {
            .Text {
              font-size: 14px;
            }
          }
        }
      }
      .video-block {
        position: initial;
        .course-preview {
          height: 180px;
          margin-bottom: 15px;
          .Image {
            height: 100% !important;
            object-fit: cover;
          }
          .preview {
            height: 180px;
            .Text {
              font-size: 16px;
            }
          }
        }
        .course-desc {
          .Icon {
            color: #fff;
            font-size: 14px;
            margin-right: 10px;
          }
          .Button {
            margin-bottom: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 320px;
    background-color: #505763;
    top: 0;
    left: 0;
  }
  &.darkMode {
    .video-block {
      background-color: $dark !important;
    }
    .description-block {
      color: #fff;
      p, span, em, strong, li {
        color: #fff !important;
      }
      .see-more {
        background: linear-gradient(rgba(39, 48, 69, 0), rgba(39, 48, 69, 0.95), rgb(39, 48, 69)) !important;
      }
    }
  }
  .page-content {
    position: relative;
    padding-top: 70px;
    overflow: visible;
    .info-block {
      width: 60%;
      .info-content {
        min-height: 215px;
        > .Text {
          margin-bottom: 10px;
          color: #fff;
        }
        .creator {
          margin-top: 10px;
          .Icon {
            color: #fff;
            font-size: 20px;
          }
          .Text {
            color: #fff;
          }
        }
      }
      .what-we-learn {
        margin-top: 80px;
        .extraLarge {
          margin-bottom: 20px;
          display: block;
        }
        .key-value {
          width: 50%;
          margin-bottom: 15px;
          padding-right: 10px;
          .Icon {
            color: $secondary-green;
            font-size: 22px;
            margin-top: 2px;
            margin-right: 10px;
          }
        }
      }
      .course-content-block {
        margin-top: 30px;
        .extraLarge {
          margin-bottom: 20px;
          display: block;
        }
      }
      .requirments-block {
        margin-top: 30px;
        .extraLarge {
          margin-bottom: 20px;
          display: block;
        }
        > .Paper {
          margin-bottom: 10px;
        }
        .Icon {
          color: $secondary-green;
          margin-right: 10px;
          font-size: 22px;
          margin-top: -4px;
        }
      }
      .description-block {
        margin-top: 30px;
        span {
          background: none !important;
        }
        .extraLarge {
          margin-bottom: 20px;
          display: block;
        }
        .description-body {
          .see-more {
            background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.95),#FFF);
            padding-top: 30px;
            position: relative;
            top: -30px;
            .Icon {
              margin-right: 5px;
            }
            .Paper {
              cursor: pointer;
              &:hover {
                .Text, .Icon {
                  color: $secondary-green
                }
              }
            }
          }
          .blog-body {
            height: 230px;
            overflow: hidden;
            &.isShown {
              height: auto;
              & ~ .see-more {
                top: -15px;
              }
            }
          }
          strong {
            font-weight: bold;
            em {
              font-weight: bold;
            }
          }
          p {
            margin-bottom: 10px;
          }
          ul, ol {
            padding-left: 35px;
            margin-top: 0;
            margin-bottom: 10px;
            li {
              margin-bottom: 10px;
            }
          }
          ul {
            li {
              list-style: disc;
            }
          }
          ol {
            li {
              list-style: decimal;
            }
          }
        }
      }
    }
    .video-block {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      padding: 5px;
      background-color: $secondary-white;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0px rgba(179, 166, 166, 0.5);
      position: sticky;
      top: 70px;
      z-index: 9;
      .course-preview {
        position: relative;
        height: 200px;
        .Image {
          object-position: top;
        }
        .preview {
          position: absolute;
          width: 100%;
          height: 200px;
          top: 0;
          left: 0;
          cursor: pointer;
          &:hover {
            .circle {
              transform: scale(1.2);
            }
          }
          .circle {
            transition: all .3s linear;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            .Icon {
              color: #fff;
              font-size: 50px;
              margin-left: 6px;
            }
          }
          .Text {
            color: #fff;
            font-size: 20px;
            position: relative;
            top: 25px;
          }
        }
      }
    }
    .image-block {
      width: 40%;
      .course-desc {
        padding: 20px;
        > .Button, a {
          margin-bottom: 18px;
          width: 220px;
          .Icon {
            color: $secondary-white;
            font-size: 16px;
            margin-right: 10px;
            position: relative;
            top: 2px;
          }
        }
        .share-block {
          border-top: 1px solid;
          margin-top: 10px;
          padding-top: 20px;
          .Button {
            background-color: #4267b2 !important;
            font-size: 14px !important;
            padding: 12px 20px !important;
            color: #fff !important;
            font-weight: bold !important;
            width: 220px;
          }
        }
      }
    }
  }
}
