@import 'sass/variables.scss';

header {
  height: 70px;
  width: 100%;
  z-index: 10;
  .page-content {
    overflow: visible;
  }
  .search-block {
    width: 100%;
    max-width: 360px;
    margin: 0 10px;
    position: relative;
    &:hover {
      ul {
        display: block;
      }
    }
    ul {
      position: absolute;
      width: calc(100% - 40px);
      background-color: #EBEEF5;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      display: none;
      li {
        padding: 5px 10px;
        min-height: 45px;
        display: flex;
        .Icon {
          animation: spin 1s linear infinite;
          display: inline-block;
          margin: auto;
        }
        a {
          max-width: 100%;
        }
        &:hover{
          background-color: #fff;
        }
        .Image {
          margin-right: 10px;
        }
      }
    }
    .formGroup {
      width: 100%;
      .searchIcon {
        top: 11px !important;
        right: 18px;
        left: initial;
        font-size: 20px;
      }
      .darkMode {
        color: #3E4B5B;
      }
    }
  }
  &.darkMode {
    nav {
      background-color: $dark;
      .nav-list {
        li {
          .account-block {
            .hidden-block {
              background-color: $dark;
              .image-block {
                &:before {
                  background-color: $dark;
                }
              }
              ul {
                li {
                  .Icon {
                    color: $secondary-white;
                  }
                }
              }
            }
          }
          a {
            color: $secondary-white;
            &.active {
              color: $secondary-green;
            }
            &:hover {
              color: $secondary-green;
            }
          }
        }
      }
    }
  }
  nav {
    height: 70px;
    box-shadow: 0 2px 11px 0 rgba(173,166,166,0.5);
    background-color: $secondary-white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    .Dropdown {
      &_label {
        text-transform: uppercase;
      }
      &_content {
        .dropdown-list {
          span {
            text-transform: uppercase;
          }
        }
      }
    }
    .languages {
      .Dropdown {
        &_label{
          opacity: 50%;
          font-weight: 400;
          &.active {
            color: #222;
            .Icon {
              svg {
                fill: #222;
              }
            }
          }
          &:hover {
            color: #222;
            .Icon {
              svg {
                fill: #222;
              }
            }
          }
        }
        .dropdown-list {
          padding: 5px 15px;
        }
      }
    }
    .page-content {
      position: relative;
      height: 70px;
      padding: 0 20px;
      padding-right: 70px;
    }
    .logo {
      a {
        display: flex;
        position: relative;
        span {
          position: absolute;
          color: #acabab;
          right: -114px;
          bottom: 5px;
          font-size: 30px;
        }
      }
    }
    .nav-list {
      display: flex;
      align-items: center;
      li {
        margin: 0 15px;
        .account-block {
          position: relative;
          height: 60px;
          width: 80px;
          display: flex;
          align-items: center;
          .Avatar {
            margin: 0 auto;
          }
          &:hover {
            .hidden-block {
              display: block;
            }
          }
          .hidden-block {
            display: none;
            position: absolute;
            right: 0;
            background-color: $secondary-white;
            box-shadow: 0 2px 12px 0 rgba(179,166,166,0.5);
            border-radius: 10px;
            padding: 15px 20px;
            top: 60px;
            .image-block {
              margin-bottom: 20px;
              position: relative;
              &:before {
                content: '';
                width: 15px;
                height: 15px;
                background-color: $secondary-white;
                position: absolute;
                top: -22px;
                right: -12px;
                transform: translateX(-50%) rotate(45deg);
              }
              .Avatar {
                margin-right: 15px;
              }
            }
            ul {
              li {
                height: 40px;
                cursor: pointer;
                &:hover {
                  .Text, .Icon {
                    color: $secondary-green;
                  }
                }
                .Icon {
                  margin-right: 10px;
                }
                a {
                  text-transform: none;
                }
              }
            }
          }
        }
        a {
          font-weight: 700;
          text-transform: uppercase;
          &.active {
            color: $secondary-green;
          }
          &:hover {
            color: $secondary-green;
          }
        }
      }
    }
  }
  .menu-wrapper {
    position: absolute;
    height: 30px;
    right: 15px;
    top: 20px;
    cursor: pointer;
    display: none;
  }
  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: $bar-width;
    height: $bar-height;
    border-radius: 5px;
  }

  .hamburger-menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: $secondary-green;
    transition: all 0ms 300ms;
    &.animate {
      background: rgba(255, 255, 255, 0);
      }
  }

  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: $secondary-green;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: $secondary-green;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }
}

@keyframes spin {
  from { transform: rotate(0) }
  to { transform:rotate(360deg) }
}
