@import 'sass/variables.scss';

.MobileFooter {
  height: 50px;
  &_body {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 11px 0 rgba(173,166,166,0.5);
    z-index: 10;
    background-color: #fff;
    padding: 10px 0;
    &.darkMode {
      background-color: #273045;
      a {
        .Icon, .Text {
          color: #e4dede;
        }
      }
    }
    a {
      width: 25%;
      cursor: pointer;
      &.isActive {
        span {
          color: $secondary-green !important;
        }
      }
      .Icon {
        margin-bottom: 5px;
        font-size: 20px;
      }
      .Text {
        font-size: 10px;
      }
    }
  }
}
