@import 'sass/variables.scss';

.Footer {
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.5);
  padding-top: 50px;
  padding-bottom: 20px;
  .page-content {
    padding: 0 20px;
    padding-right: 85px;
  }
  &.darkMode {
    background-color: $dark;
    ul {
      li {
        span, a {
          color: $secondary-white;
        }
      }
    }
    .Footer_text {
      color: $secondary-white;
    }
  }
  &_logo {
    padding-bottom: 50px;
    a {
      display: inline-flex;
    }
  }
  &_body {
    .TextFieldComponent {
      flex-grow: 0 !important;
    }
    .info-block {
      margin-bottom: 25px;
      li {
        font-size: 18px;
        .Icon {
          margin-right: 12px;
        }
      }
    }
    .page-block {
      margin-bottom: 25px;
      ul {
        margin: 0 50px;
        &:last-child {
          margin-right: 0;
        }
        li {
          margin-bottom: 20px;
          a {
            text-transform: uppercase;
            &:hover {
              color: $secondary-green;
            }
          }
        }
      }
    }
    .subscribe-block {
      margin-bottom: 25px;
      .social-block {
        width: 100%;
        box-sizing: border-box;
        .Icon {
          margin: 15px;
        }
      }
    }
  }
  &_text {
    padding-top: 15px;
    opacity: 50%;
  }
}

@media screen and (max-width: 1228px){
  .Footer {
    .page-content {
      padding-right: 20px;
    }
    &_body {
      justify-content: space-around !important;
      .subscribe-block {
        .social-block {
          justify-content: center;
        }
      }
      .info-block {
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 685px){
  .Footer  {
    &_logo {
      justify-content: center;
      display: flex;
    }
    .subscribe-block {
      width: 100%;
    }
    .info-block {
      li {
        justify-content: center;
      }
    }
    .page-block {
      ul {
        margin: 0 30px;
      }
    }
    &_text {
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 530px){
  .Footer  {
    .page-block {
      ul {
        margin: 0 10px;
      }
    }
    .subscribe-block {
      .TextFieldComponent {
        .TextField {
          height: 45px;
        }
        .Button {
          height: 45px;
          font-size: 13px;
        }
      }
    }
  }
}
