@import "~sass/variables";
.CourseConent {
  &.darkMode {
    .list-item {
      .list-item-header {
        background-color: $dark !important;
      }
    }
  }
  .list-item {
    margin-bottom: 5px;
    &.active {
      .list-item-body {
        display: block;
      }
    }
    .Icon {
      color: $secondary-green;
    }
    .list-item-header {
      height: 50px;
      border-radius: 4px;
      padding: 10px 15px;
      background-color: $secondary-white;
      box-shadow: 0 1px 5px 0px rgba(179, 166, 166, 0.5);
      cursor: pointer;
      .Icon {
        margin-right: 10px;
      }
    }
    .list-item-body {
      display: none;
      .list-sub-item {
        height: 50px;
        padding: 10px 15px;
        border-bottom: 1px solid;
        .icon-feather-play {
          opacity: 0.5;
          color: #929090;
        }
        &:last-child {
          border: none;
        }
        .Icon {
          margin-right: 10px;
        }
      }
    }
  }
}
