.Search {
  h1 {
    text-align: center;
    padding: 30px 20px;
  }
  .category-block {
    padding-bottom: 20px;
  }
  .course-block {
    padding-top: 30px;
    min-height: 300px;
  }
  &.isMobile {
    .search-block {
      width: 100%;
      max-width: 360px;
      margin: 0 10px;
      position: relative;
      padding: 20px 5px;
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        position: absolute;
        width: calc(100% - 40px);
        background-color: #EBEEF5;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: none;
        li {
          padding: 5px 10px;
          min-height: 45px;
          display: flex;
          .Icon {
            animation: spin 1s linear infinite;
            display: inline-block;
            margin: auto;
          }
          a {
            max-width: 100%;
          }
          &:hover{
            background-color: #fff;
          }
          .Image {
            margin-right: 10px;
          }
        }
      }
      .formGroup {
        width: 100%;
        .TextField {
          padding-right: 45px;
          padding-left: 25px;
        }
        .searchIcon {
          top: 11px !important;
          right: 18px;
          left: initial;
          font-size: 20px;
        }
        .darkMode {
          color: #3E4B5B;
        }
      }
    }
    .page-content {
      padding: 15px;
      .category-block {
        .CategoryCard {
          margin: 5px;
          .Image {
            display: none;
          }
          .text-block {
            .Text {
              font-size: 13px;
            }
          }
        }
      }
      .BusyLoader {
        .course-block {
          > a {
            max-width: 100%;
          }
        }
      }
    }
  }
}
