@import "~sass/variables";

.CourseCard{
  margin:20px 5px;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  box-shadow: 0px 0px 14px 1px rgba(197,185,185,0.5);
    .imageWrapper{
      height: 160px;
  }
  &.darkMode {
      background-color: $dark;
      box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  }
  &.isMobile {
    display: flex;
    max-width: 100% !important;
    margin: 0;
    margin-bottom: 15px;
    .imageWrapper {
      height: 70px;
      min-width: 100px;
      .Image {
        object-fit: cover;
        height: 100% !important;
      }
    }
    .infoblock {
      display: none;
    }
    .blogCardInfo {
      padding: 10px;
      max-width: calc(100% - 100px);
      .blogCommentTitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .desc {
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }
  .blogCardInfo{
    padding: 20px;
    padding-bottom: 5px;
    .blogCommentTitle{
      font-size: 20px;
      max-height: 55px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .desc{
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
  .infoblock{
    padding: 10px 20px;
    padding-bottom: 20px;
    .createdBy {
      .Text {
        color: $secondary-green;
      }
    }
  }
}
