@import "~sass/variables";

.Course {
  &.darkMode {
    .player {
      background-color: #ccc7c7 !important;
    }
    .icon-feather-arrow-left {
      background-color: #283045 !important;
      color: #fff !important;
    }
    .description-block {
      color: #fff;
      p, span, em, strong, li {
        color: #fff !important;
      }
    }
  }
  .player-content {
    position: relative;
    .icon-feather-arrow-left {
      position: absolute;
      top: 20px;
      right: 0px;
      width: 40px;
      height: 35px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;
      color: #283045;
      z-index: 2;
    }
    .description-block {
      span {
        background: none !important;
      }
      strong {
        font-weight: bold;
        em {
          font-weight: bold;
        }
      }
      p {
        margin-bottom: 10px;
      }
      ul, ol {
        padding-left: 35px;
        margin-top: 0;
        margin-bottom: 10px;
        li {
          margin-bottom: 10px;
        }
      }
      ul {
        li {
          list-style: disc;
        }
      }
      ol {
        li {
          list-style: decimal;
        }
      }
    }
    &.isOpen {
      width: 75%;
      .player {
        height: 600px !important;
      }
    }
    width: 100%;
    .player {
      width: 100% !important;
      height: 700px !important;
      background-color: #283045;
    }
    .text-block {
      padding: 30px 50px;
      .extraLarge {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .lessons-list {
    width: 25%;
    position: relative;
  }
  &.isMobile {
    flex-direction: column;
    .CourseAccordion_content {
      border-top: 1px solid;
      .Accordion-item {
        .Accordion-item-header {
          > .Paper {
            .Text.large {
              font-size: 15px;
            }
            .Text:last-child {
              font-size: 13px;
            }
          }
        }
        .Accordion-item-body {
          .Accordion-subItem {
            .Text {
              &:first-child {
                font-size: 14px;
              }
              &:last-child {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .player-content {
      width: 100% !important;
      .player {
        height: 180px !important;
      }
    }
    .lessons-list {
      width: 100%;
      .CourseAccordion {
        position: initial;
        width: 100%;
      }
    }
  }
}
