.Login {
  .image-block {
    padding: 20px;
    img {
      width: 70%;
    }
  }
  .autorize-block {
    .formGroup {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .buttons-block {
    width: 100%;
  }
}
