@import 'sass/variables.scss';

.PasswordReset {
  h1 {
    text-align: center;
    padding: 30px 20px;
  }
  .errorText {
    color: red;
    margin-bottom: 10px;
  }
  .success {
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    .Text {
      font-size: 20px;
    }
    .Icon {
      color: $secondary-green;
      margin: 20px 0;
      font-size: 80px;
    }
  }
  &_body {
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    .BusyLoader {
      width: 100%;
      padding: 10px;
    }
    .formGroup {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
