.DarkModeButton {
  height: 50px;
  width: 50px;
  border-radius: 64px;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 12;
  &.isMobile {
    position: inherit;
    width: 35px;
    height: 35px;
    .Icon {
      height: 35px;
      width: 35px;
    }
  }
  .Icon {
    height: 50px;
    width: 50px;
  }
}
